.pastResults{
    background-color: #870d04;
    opacity: 0.8;
    width: 100vw;
    height: 350px;
    margin-top: 5%; 
    border-radius: 5px;
    text-align: center;
    color:  white;
    font-family: Roboto;
}

.resultListItem{
    list-style: none;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 5px;
    font-size: large;
}

