.formBox{
    margin: 10px;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
  }
  
  .loginDiv{
    background-color:#870d04;
      width: 100%;
      height: 270px;
      margin-top: 12%; 
      border-radius: 5px;
      text-align: center;
      color:  white;
      font-family: Roboto;
  }
  
  .loginBtn {
    background-color: white;
    width: 50%;
    margin-top: 20px;
    padding-right: 0px;
    margin-right: 0px;
    border-radius: 5px;
  }

  .loginLink{
    color: #f51707;
  }
  .loginBtn:hover{
    border: 4px solid;
  }

  .loginLink:hover{
      color: black;
  }