.missionText{
    text-align: center;
      color:  white;
      font-family: Roboto;

}

.mission-div{
    margin-top: 100px;
    background-color:#870d04;
    opacity: 0.8;
}

.mission-p{
    margin-top: 15px;
    font-size:large;
}