.formBox{
    margin: 10px;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
  }
  
  .signUpDiv{
      background-color: #870d04;
      width: 100vw;
      height: 450px;
      margin-top: 10%; 
      border-radius: 5px;
      text-align: center;
      color:  white;
      font-family: Roboto;
  }
  
  .signUpBtn {
    background-color: white;
    width: 50%;
    margin-top: 20px;
    padding-right: 0px;
    margin-right: 0px;
    border-radius: 5px;
  }
  .signUpBtn:hover{
    border: 4px solid;
  }

  .signUpLink{
    color: #f51707;
  }

  .signUpLink:hover{
      color: black;
  }