
  .navbar-footer{
    height: 50px;
    display: flex;
    align-items: center;
    background-color:#870d04;
    justify-content: space-evenly;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
   }
   
   .navList{
       list-style: none;
       text-decoration: none;
       list-style: none;
       font-family: Roboto;
       font-size:x-large;
       background-color:#870d04;
       color: white;
       border: #870d04;;
   }

   .navList:hover{
    color: #f51707;
}
   
   .link{
       text-decoration: none;
       list-style: none;
       font-family: Roboto;
       font-size:x-large;
       background-color:#870d04;
       color: white;
   }
   
   .link:hover{
       color: #f51707;
   }