.navbar{
 height: 50px;
 display: flex;
 align-items: center;
 background-color:#870d04;
 justify-content: space-evenly;
}

.navList{
    list-style: none;
}

.link{
    text-decoration: none;
    list-style: none;
    font-size: larger;
    background-color: #870d04;
    color: white;
    font-family: Roboto;
    font-size:x-large;
}

.link:hover{
    color: #850503;
}